*~.nib
*.so
*.pbxuser
*.mode
*.perspective*
*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
build
xcuserdata
build/

src/Pods
src/kugou.xcworkspace
src/Podfile.lock
src/Modules
src/.KGFlow


# vim
*.swp
*.xcuserstate

src/.idea
src/DerivedData
src/Index
Src/Pods
Src/kugou.xcworkspace

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
